*.hi
*.info
*.minion
*.minion-stats
*.sublime-workspace
.idea
.MINIONSOLS*
.MINIONSTATS*
.tmtags
dist/
out
scripts/plots/plots
scripts/R/.RData
scripts/R/.Rhistory
smac-v2.06.00-master-615/smac-output/
tags
temp.pdf
timeout5
timeout5-*
.RData
.Rhistory
cabal.sandbox.config
tmtags
_docs
Build_autoversion.hs
