 stats.txt
*.*.output
*.*.output.*
*.eprime
*.eprime-param
*.eprime-solution
*.eprime.logs
*.finished
*.hi
*.info
*.minion
*.minion-stats
*.models-used
*.o
*.output
*.params-used
*.solution
*.stats
*.sublime-workspace
*.time
*.time.*
*.timeout-used
*.zfinished
*.zstarted
*fails*
*minion.aux
*success*
.idea
.MINIONSOLS*
.MINIONSTATS*
.tmtags
a.txt
chain.sublime-workspace
dist/
out
out.json
out2
plots/
scripts/plots/plots
scripts/R/.RData
scripts/R/.Rhistory
smac-v2.06.00-master-615/smac-output/
tags
temp.pdf
timeout5
timeout5-*
_logs
